{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block import %}
    <link rel="stylesheet" href="{% static  'css/homepage.css' %}">
    {% include 'Base/importing.html' %}
{% endblock %}
{% block body %}
</div>
    <div class="upload_class" id="upload_form">
        <form class="upload_form" method="post" enctype="multipart/form-data" action="post">
            {% csrf_token %}
            <div class="row">
                <img src="{% static 'images/user.png' %}" width="55px" height="70px" id="img">
                <textarea id="uploadingtext" type="text" placeholder="Enter your Text" class="form-control"
                          name="text"></textarea>
                <br>
            </div>
            <select name="type" id="tag" required>
                <option value="Sell">Sell</option>
                <option value="Buy">Buy</option>
                <option value="Ask">Ask</option>
                <option value="Knowledge">Knowledge</option>
            </select>
            <br>

            <div class="row" id="roww">
                <div v-for="n in count">
                    <input type="file" name="profilepicture" id="inputimage"
                           accept="image/gif, image/jpeg, image/png" hidden @change="onFileChange">
                    <label for="inputimage"><img src="{% static "images/uploadpic.png" %}" width="40px"
                                                 height="40px"> Choose image</label>
                    <div id="preview">
                        <img v-if="url" :src="url" width="90px" height="90px"/>
                    </div>

                </div>
                <input type="button" class="AddMore" value="Add More &#9547" v-on:click="count+=1">
            </div>
            <br>
            <input type="submit" value="Upload" class="AddMore" id="uploadingbtn">
        </form>
    </div>
    {#    Dynamic data showing#}

    <div id="posts-html">
        {% include 'Base/post.html' %}
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/waypoint.js"></script>
    <script src="/static/js/infinite.min.js"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            handler: function (direction) {

            },
            offset: 'bottom-in-view',
            onBeforePageLoad: function () {
                $('.spinner-border').show();
            },
            onAfterPageLoad: function () {
                $('.spinner-border').hide();
            }


        });

    </script>
    {% include 'script.html' %}

    <script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#upload_form',
        data: {
            count: 1,
            url: null,
            image_url: null,
        },
        methods: {
            onFileChange(e) {
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);
            },
        },
    });
</script>

{% endblock %}