html {
  scroll-behavior: smooth;
}

.upload_class {
  background-color: #40ac40;
  padding: 1vw;
}

.upload_form {
  padding: 1vw;
  align-content: center;
  align-items: center;
  margin-left: 30vw;
  width: 40%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}

.upload_form #uploadingtext {
  height: 7vw;
  width: 30vw;
  margin-left: 2vw;
}

.upload_form #img {
  border-radius: 50%;
  margin-top: 5px;
}

#roww {
  padding: 1vw;
}

#tag {
  margin-top: 2vw;
  background-color: #717171;
  height: 3vw;
  color: white;
  width: 36vw;
}

.AddMore {
  height: 3vw;
  width: 20%;
  border-width: 0px;
  border-color: #40ac40;
  background-color: white;
  color: #242424;
  font-family: "Britannic Bold";
  margin-top: 4vw;
}

#preview img {
  max-width: 100%;
  max-height: 500px;
  margin-left: 1vw;
}

#preview {
  margin-right: 3vw;
  background: url("../images/load.png") no-repeat;
  background-size: cover;
  border-radius: 3px;
  border-color: #46434B;
  border-width: 2px;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#uploadingbtn {
  background-color: #0f4fe3;
  color: white;
  border-radius: 10px;
  width: 250px;
  border-color: chocolate;
  margin-top: 1vw;
  width: 80%;
  margin-left: 10%;
}

#uploadingbtn:hover {
  background-color: #1255ef;
  color: whitesmoke;
}

#post-container {
  color: white;
  padding-left: 20vw;
}

.show {
  cursor: pointer;
  background-color: #fff;
  color: white;
}

#show_post {
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px;
  width: 60vw;
  align-items: center;
  background-color: #40ac40;
}

#show_post .data {
  margin-left: 4vw;
}

.data .row {
  max-width: 100%;
}

.data .row p {
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
}

#show_post .img:first-child {
  border-radius: 50%;
  width: 5vw;
  height: 4vw;
  margin-right: 15px;
  margin-top: 5px;
}

#show_post p {
  padding: 10px;
}

#content {
  font-family: sans-serif;
  margin-left: 5vw;
  width: 40vw;
}

#content img {
  padding: 20px;
  width: 40vw;
  height: 20vw;
}

.like-container {
  margin-top: 2px;
  padding: 1vw;
  margin-right: 3vw;
  text-align: center;
}

.like-container a {
  color: white;
}

.like-container a:hover {
  font-style: normal;
  color: white;
}

.like-container div div {
  padding: 10px;
}

.like-container div .col-sm:hover {
  background-color: #63acb3;
  border-radius: 5px;
}

.Load-comments-div {
  height: 1vw;
  padding: 2px;
}

.Load-comments-div div:hover {
  background-color: #98b1ef;
  text-decoration: none;
  border-radius: 3px;
}

.Load-comments-div div a:hover {
  text-decoration: none;
}

.myModal {
  right: 4vw;
  width: 13vw;
  position: absolute;
  z-index: 1;
  background: #0a0805;
  display: none;
  padding: 2vw;
}

.myModal input {
  margin: 1vw;
}

.myModal form {
  padding: 1vw;
  margin-left: 1vw;
}

.comment {
  padding: 1vw;
  margin-left: 10vw;
  width: 60%;
  color: black;
  background-color: #5380ef;
}

#comment-section {
  width: 90%;
  color: #46434B;
  margin: auto;
}
