{% extends 'base.html' %}

{% load static %}  {# for static files#}

{% block import %}
    <link rel="stylesheet" href="{% static  'css/signup.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock import %}


{% block body %}
    <body style="background-color:  #46434B; color:#ffffff;">
    <div class="register-form mt-0">
        <div class="container-fluid">
            <div class="row"
                 style="font-family: serif;">

                <picture class="picture">
                    <img src="{% static "images/bg3.jpg" %}" alt="Flowers" style="opacity: 0.3;  position:absolute;
                    background-size:cover;  max-width: 100%; height: 80vw; position: fixed; top: 0px; z-index: -1;">
                </picture>

                <h1 class="text-center" style=" font-size: 3.5vw; margin: 8vw 0vw 0vw 40vw; z-index: 2;">Create your
                    Account Now</h1>

                <div class="col-md-6" id="row">
                    <div class="rowsub">
                        <form class="p-4 text-white" method="post" action="signup" autocomplete="off" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="fas fa-user"></i> UserName</label>
                                <input type="text" name="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="fas fa-envelope"></i> Email Address </label>
                                <input type="email" name="useremail" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="address"><i class="fas fa-map-marked-alt"></i> Address</label>
                                <input type="text" name="useraddress" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="pwd"><i class="fas fa-lock"></i> Enter Password</label>
                                <input type="password" name="userpassword" class="form-control" id="upa1"
                                       onkeyup="check();"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="cpwd"><i class="fas fa-lock"></i> Confirm Password</label>
                                <input type="password" name="ucheckpassword" class="form-control" id="upa2"
                                       onkeyup="check();" required>

                            </div>
                            <div class="form-group">
                                <label for="usertype"><i class="fas fa-user-edit"></i> Register As</label>
                                <select name="usertype" id="usertype" class="form-control" required>

                                    <option class="form-control" value="Client">Client</option>
                                    <option class="form-control" value="Consumer">Consumer</option>
                                    <option class="form-control" value="Expertise">Expertise</option>

                                </select>
                            </div>

                            <input type="submit" name="Register" value="Sign up" class="btn mb-3 mt-3"
                                   style="background-color: #40ac40; color: #faeeee; width: 35vw; margin-left: 1.5vw;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
{% endblock body %}
</body>



{% block script %}
    <script>
        var password = document.getElementById("upa1")
            , confirm_password = document.getElementById("upa2"),
            email = document.getElementById("email");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }

        }

        upa1.onchange = validatePassword;
        upa2.onkeyup = validatePassword;
        email.onchange = validateEmail;

        function validateEmail() {
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email.value)) {
                email.setCustomValidity("");
            } else {
                email.setCustomValidity("Email address is not valid");
            }
        }


    </script>
{% endblock script %}
{% block footer %} {% endblock %}
