{% extends 'base.html' %}
{% load static %}

{% block import %}
     <link rel="stylesheet" href="{% static  'css/profile.css' %}">
    {#    for vue#}
    {#    load vue from CDN#}

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {#  Render  json data as js  #}

{% endblock import %}

{% block body %}

    <div id="app" class="card ml-5 mr-5 mt-5 text-center border border-primary" style="height: 35vw;">

        <h5 class="header" text-center>About
            [[name]]</h5>

        <div class="row ml-2">

            <div class="col-5">

                <form action="saveprofile" enctype="multipart/form-data" method="post">
                    {% csrf_token %}

                    <div class="container mr-3">
                        <div class="rowsub" style="margin-bottom: 2vw;">
                            <img v-bind:src="profile" width="100%" height="auto">
                        </div>
                        <div class="rowsub">
                            <input type="file" name="profilepicture" id="inputimage"
                                   accept="image/gif, image/jpeg, image/png" class="form-control" hidden>
                            <label for="inputimage"><img src="{% static "images/upload.png" %}" width="50px"
                                                         height="50px"> Choose image</label>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Change profile picture">
                    </div>

                </form>
            </div>

            <div class="col-5">
                <form enctype="multipart/form-data" method="post" action="save" class="left_form" >
                    {% csrf_token %}
                    <label for="Name"></label>
                    <input class="form-control" name="username" v-model="name">
                    <br>
                    <input class="form-control" name="useremail" v-model="email">
                    <label for="email" style="color: red;">**This email is not used for login Explore below for more....</label>
                    <br>
                    <label for="Place"></label>
                    <input class="form-control" name="useraddress" v-model="address">

                    <br>
                    <label for="Save"></label>
                    <input type="submit" class="btn btn-primary" value="Save Changes">
                    <br>

                </form>
            </div>


        </div>
    </div>
{% endblock body %}

{% block script %}

    <script type='text/javascript'>
        var user_d = {{ user_data|safe }};
    </script>

    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                user_d: user_d,
                name: user_d['username'],
                email: user_d['email'],
                address: user_d['address'],
                password: user_d['password'],
                profile: user_d['profileimage']
            },
            methods: {}
        });
    </script>
{% endblock script %}
