<!DOCTYPE html>
<html lang="en">
<head>
    {% load  static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Nepal Agro</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static  'css/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {# for vue frontend      #}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    {% block import %}
    {% endblock import %}

</head>

<body>
<nav id="header" class="navbar navbar-expand-lg navbar-dark">
    <a href="#" class="navbar-brand">
        <img src="/static/images/logo1.png" height="80px" width="80px" alt="Logo">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-4">
            <form class="navbar-form form-inline" id="navbar">
                <div class="input-group search-box">
                    <input type="text" id="search" class="form-control" placeholder="Search here...">
                    <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                </div>
            </form>
            <a href="/" class="nav-item nav-link ml-5 active text-center"><i class="fas fa-igloo"></i> <br>Home</a>
            <a href="{% url 'refshowme' %}" class="nav-item nav-link ml-4 active text-center"><i class="fas fa-user"></i>
                <br>Profile</a>
            <a href="#" class="nav-item nav-link ml-4 active text-center"><i class="fas fa-bell"></i>
                <br>Notification</a>
            <a href="" class="nav-item nav-link ml-4 active text-center"><i class="fas fa-cog"></i> <br>Setting</a>


            {% if request.user.is_authenticated %}
                {#  making the value available for html and js #}
{#                {{ true |json_script:"loggedstatus" }}#}
                <a href='{% url 'signout' %}' class="btn btn-info ml-5"><i class="fas fa-sign-out-alt"></i><br>Sign out</a>
            {% else %}
                <a href='{% url 'login_user' %}' class="btn btn-info ml-5"><i class="fas fa-sign-out-alt"></i><br>Sign in</a>
            {% endif %}
        </div>
    </div>
</nav>

{% block body %}
{#        {{ request.user.is_authenticated }}#}
{% endblock %}
{% block footer %}


{% endblock %}

<script>

    {#var status = JSON.parse(document.getElementById('loggedstatus').textContent);#}
    var status = "{{user.is_authenticated|yesno:"true,false"}}";
    console.log("status is"+ status)
    var app;

    app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#header',
        data: {},

        computed: {
            logged: function () {
                if (status === true) {
                    return 'Sign out'
                } else {
                    return 'Login'
                }
            }
        }
    });
</script>

{% block script %}
{% endblock script %}
</body>


</html>