$background : #40ac40;
$border: #878b87;
$font_size : 1.5vw;
$left : 3vw;
$white : #fff;
$borderuser:5px groove #082C84;
$bgcolor : #89a5b3;
$boxcolor : #386d15;
$bg3 : url("../images/soil.jpg") no-repeat;
$bga :url("../images/unused/a.jpg") no-repeat;
$font_agency : "Agency FB";
$font_mo:"Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
// running the sass
//python manage.py sass static/scss static/css
// python manage.py collectstatic