{% extends 'base.html' %}

{% block body %}
    <div style="width: 30%; margin:auto; margin-top: 10vw;">
    <p>We have mailed you numbers please check your mail and fill the below for authentication</p>
        <form method="post" action="confirm">
            {% csrf_token %}
            <input type="number" class="form-control" name="reset">
            <input type="submit" class="form-control">
        </form>
    </div>
    <div style="margin-top: 10vw; background-color: #878b87; height: 17vw;">

    </div>
{% endblock %}