{% extends 'base.html' %}
{% block body %}
    <div style="width: 30%; margin:auto; margin-top: 10vw;">
        <form method="post" action="update_password">
            <p>Enter your new password</p>
            {% csrf_token %}
            <input type="password" class="form-control" name="upassword" placeholder="Enter your new password"><br>
            <input type="password" class="form-control" name="rpassword" placeholder="Re-enter your new password">
            <input type="submit">
        </form>
    </div>
    <div style="margin-top: 10vw; background-color: #878b87; height: 17vw;">

    </div>
{% endblock %}