{% extends 'base.html' %}

{% block body %}

    <div id="app" class="card text-center border border-dark" style="height: 20vw; width: 30vw; margin: auto; margin-top: 5vw;
background-image: linear-gradient(to right top, #d3d5d8, #b7b6ba, #9d989b, #827b7b, #67605d);
color: whitesmoke; font-style: oblique;
">
        <h4>Forgot password</h4>
        <br><br>
        <br>
        <form method="post" action="reset" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="email" name="uemail" class="form-control" placeholder="Enter your email address "><br>
            <input class='form-control' type="submit">
        </form>
    </div>
{% endblock %}